.cart{
/* 
    background-image: url("../assets/viewimage.png"); */
    margin: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size:cover;
    background-color: rgba(239, 233, 230, 0.868);
    border-radius: 8px;
}
.content{
    justify-content: center;
    align-items: center;
    text-align: center;
    size: 1000vh;

    
    width: 100%;
    margin: 20px;
    font-size: 20px;
} 
 .btnn{
    justify-content: center;
     align-items: center;
    text-align: center;
    margin: 2%;
    width: 15%;
    margin-left: 2%;
    background-color: orange;
    color:aliceblue;
    font-size: 28px;
    border:none;
    border-radius: 8px;
    padding: 1%;
    white-space: nowrap;
 }