.Popup-overlay{
    background-color: rgba(28, 30, 32, 0.653);
    background-size: 100vh;
    height: 60vh;
    width: 50%;
    color: aliceblue;
    font-size: 24px;
    display: flex;
     justify-content: center;
    align-items: center;
    border-radius: 12px;
    z-index: position;
}
.popup{
    margin: 5%;
    color: rgb(217, 223, 228);
    background-size: cover;
    justify-content: center;
    align-items: center;
    
}
.b{
    width: 20%;
    margin: 3%;
    margin-left:40%;
    background-color: green;
    color: aliceblue;
    border: none;
    border-radius: 8px;
    padding: 2%;
    font-size: 24px;
}