.Popup-overlay{
    background-color: rgba(240, 248, 255, 0.653);
}
.popup{
    color: aliceblue;
}
.b{
    width: 25%;
    margin: 3%;
    margin-left:40%;
    background-color: green;
    color: aliceblue;
    border: none;
    border-radius: 8px;
    padding: 2%;
    font-size: 24px;
}