body {
    margin: 10;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
}


.product-card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 10%;
    padding: 30px;
}
.product-card h2{
    margin-top: 0%;
    margin-bottom: 0%;
    justify-content: center;
    text-align:center;
    font-display: auto;
    font-size: 500%;
    color: #080a09;
    font-family:'Courier New', Courier, monospace
}

.product {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.2);
    transition: 0.3s;
}

.product:hover {
    transform: translateY(-5px);
}

.product img {
    width: 150px;
    height: 180px;
    object-fit: contain;
    margin-bottom: 15px;
}

.name {
    font-size: 18px;
    color: #333;
    margin: 10px 0;
    height: 50px;
    overflow: hidden;
}

.product p {
    margin: 8px 0;
    color: #555;
}

.bttn{
    width: 10px;
   margin: 15px auto;
    padding: 10px 150px;
    background: linear-gradient(135deg,#f7a42c,#e98a14);
    color: rgb(248, 241, 241);
    border-radius: 14px;
    border:none;
    font-size: 24px;
     display:flex;
     align-items: center;
     justify-content: center;
   white-space: nowrap;
    cursor: pointer;
    transition: all .3s ease;
}

.btn:hover {
    background-color: #005ecb;
}
.background{
    background-color: #e8b6cedd; 
    background-image: url("../assets/viewimage.png");
    /* background-repeat: no-repeat; */
    background-size: 100vh;
    background-position: center;
    height: 100vh;
}
overlay{
    background-color: #eaa5c1;

}
h2{
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 54px;
    margin-bottom: 1%;
    color: white;
    
}