.product{
    background-color: aliceblue;
    box-shadow: inset;
    text-align: center;
    border-radius: 10%;
    padding: 0%;
    transition: duration 0.3em;
}
.product:hover {
    transform: translateY(-5px);
}
