.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:#222;
    padding:15px 40px;
}

.logo{
    color:white;
}

.nav-links{
    display:flex;
    gap:25px;
}

.nav-links a{
    text-decoration:none;
    color:white;
    font-size:18px;
    transition:0.3s;
}

.nav-links a:hover{
    color:orange;
}