
.App{
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-image: url("./assets/ecommerce img.png");
  background-color: rgb(228, 160, 187);
  background-position: 0%;
  background-size: 70%;
  background-repeat: no-repeat;
}
.container-card{
  width: 500px;
 margin-inline-start: 50%;
   padding: 5%;
   height: fit-content;
   text-align: center;
   color:aliceblue;
   background-color: rgb(72, 120, 93);
   border-radius: 5%;
}
.inputs{
 text-align: center;

}
input{
  margin: 3%;
  margin-inline-start: 1%;
  padding: 3%;
 width: 60%;
 height: 40%;
border-radius: 8px;
 border-color: aliceblue;
}
label{
  font-weight: 900 ;
  margin-inline-end: 1%;
}
.click{
  
  color: rgb(52, 129, 196);
  background-color: rgb(237, 173, 208);
  border-radius: 8px;
  border-color: pink;
  margin-inline-start: 50;
  padding: 10px;
  width: 30%;
  font-size: large;
  justify-content: center;
  align-items: center;
  text-align: center;
}